<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tracker</title>
  </head>
  <body>
      <header>
          <nav>
              <ul>
                  {% if request.user.is_authenticated %}
                      <li>
                          <a href="{% url 'logout' %}">Logout</a>
                      </li>
                      <li>
                          <a href="{% url 'list_projects' %}">My projects</a>
                      </li>
                      <li>
                          <a href="{% url 'show_my_tasks' %}">My tasks</a>
                      </li>
                  {% else %}
                      <a href="{% url 'signup' %}">Sign up</a>
                      <a href="{% url 'login' %}">Login</a>
                  {% endif %}
              </ul>
          </nav>
      </header>
      <main>
          <div>
            <h1>Create a new project</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Create</button>
            </form>
          </div>
      </main>
  </body>
</html>
