<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign up</a>
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>
                    {{ show_project.name }}</h>
                    <p>
                        {{ show_project.description }}
                        <h2>Tasks</h2>
                        <p>
                            <a href ="{% url 'create_task' %}">Create a new task</a>
                            {% if show_project.tasks.all  %}
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Assignee</th>
                                            <th>Start date</th>
                                            <th>Due date</th>
                                            <th>Is completed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in show_project.tasks.all %}
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.assignee }}</td>
                                                <td>{{ item.start_date }}</td>
                                                <td>{{ item.due_date }}</td>
                                                <td>{{ is_completed|yesno }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>This project has no tasks</p>
                            {% endif %}
            </div>
        </main>
    </body>
</html>
